.img-valid{
  width: 20px;
  height:20px;
  display: none;
}



input{
    height:30px;
    width:200px;
    margin:10px 20px;
    border:none;
}
input[type="checkbox"]{
  margin: 0;
}

.empty{
    color:red;
}


.photo{
    transition:  0.5s
}


.slides {
    position: relative;
    width: 500px; /* Adjust the width according to your image size */
    overflow: hidden;
  }
  
  .imgs-box {
    display: flex;
    transition: transform 0.5s;
  }
  
  .img-slide {
    width: 500px; /* Adjust the width according to your image size */
  }
  
  .group-btns {
    margin-top: 10px;
  }
  
  button {
    margin-right: 10px;
  }

.parent-img img{
    width:300px;
    height:200px;
}

button{
    cursor: pointer;
}














































