<footer class="footer">
    <div class="container">
       <div class="row">
         <div class="col-lg-3">
           <h4 class="title-footer">GET IN TOUCH</h4>
           <p><i class="fa fa-google"> </i> <a href="gmail.com"> 3bdallah.dev@gmail.com</a></p>
           <p><i class="fa fa-mobile"  ></i> 0112346535</p>
         </div>
         <div class="col-lg-6 text-center">
            <button class="btn btn-contact-me">
               <a href="#">Contact Me</a>
            </button>
          </div>
          <div class="col-lg-3">
            <ul class="list-icons">
             <li><i class="fa fa-facebook"></i>      </li>
             <li><i class="fa fa-linkedin"></i>  </li>
             <li> <i class="fa fa-google"></i>             </li>
            </ul>
            <p>copyright &copy; 2023JE</p>
          </div>
       </div>
    </div>
</footer>