<section class="skills">
   <div class="container">
    <div class="row text-center">
        <h2>skills</h2>
        <p class="info-skills ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo atque quisquam provident praesentium eum ipsa tenetur aspernatur dolorem nesciunt sit fugiat ducimus ipsum quidem fugit neque iste, reiciendis voluptates iusto.</p>
        <div class="col-lg-3 m-auto">
         <h3 class="title-list">My Focus</h3>
         <ul class="list-skills">
            <li class="skill">UI\UX Design </li>
            <li class="skill">Responsive Design</li>
            <li class="skill">Web Design</li>
            <li class="skill">Mobile App Design</li>
         </ul>
        </div>
        <div class="col-lg-6 m-auto">

            <div class="block-skill">
                <label for="file" class="label-file">HTML</label>
                <progress class="progress-skill" id="file" value="32" max="100"> 32% </progress>
            </div>
            
            <div class="block-skill">
                <label for="file" class="label-file">Css</label>
                <progress class="progress-skill" id="file" value="88" max="100"> 88% </progress>
            </div>

            <div class="block-skill">
                <label for="file" class="label-file">Bootstrap</label>
                <progress class="progress-skill" id="file" value="92" max="100"> 92% </progress>
            </div>

            <div class="block-skill">
                <label for="file" class="label-file">JS</label>
                <progress class="progress-skill" id="file" value="52" max="100"> 52% </progress>
            </div>


            <div class="block-skill">
                <label for="file" class="label-file">JQuery</label>
                <progress class="progress-skill" id="file" value="72" max="100"> 72% </progress>
            </div>

            <div class="block-skill">
                <label for="file" class="label-file">Sass</label>
                <progress class="progress-skill" id="file" value="82" max="100"> 82% </progress>
            </div>
        </div>
    </div>
   </div>
</section>