<section class="skills">
   <div class="container">
    <div class="row text-center">
        <h2>skills</h2>
        <p class="info-skills ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo atque quisquam provident praesentium eum ipsa tenetur aspernatur dolorem nesciunt sit fugiat ducimus ipsum quidem fugit neque iste, reiciendis voluptates iusto.</p>
        <div class="col-lg-3 m-auto">
         <h3 class="title-list">My Focus</h3>
         <ul class="list-skills">
            <li class="skill" *ngFor="let skill of listSkills" >{{skill}}</li>
         </ul>
        </div>
        <div class="col-lg-6 m-auto">
            <div class="block-skill" *ngFor="let skill of skillsArr">
                <label for="file" class="label-file">{{skill.course}}</label>
                <progress class="progress-skill" id="file" [value]="skill.degree" max="100"> {{skill.degree}}% </progress>
            </div>
        </div>
    </div>
   </div>
</section>