*{
    margin: 0;
    padding: 0;
    text-align: center;
}

input,textarea,button{
    margin-top: 20px;
}
.header , .nav{
    
    text-align: center;
    height:100px;
    width:98%;
    margin: 10px auto;
    border:2px double #aaa;
}

.nav{
  height:50px;
}

.parent-section{
    height:800px;
    width: 98%;
    border:2px solid #aaa;
    margin: 10px auto;
}
.parent-section .side-left{
    float: left;
    height:98%;
    width:48%;
    margin: 1% ;
    /* border:2px solid #eee; */
}

.parent-section .side-left .top-section-left , 

.parent-section .side-left .bottom-section-left{
    height:48%;
    border:2px solid #aaa;
    width:98%;
    margin:1% auto;
}
.aside-right{
    float: left;
    height:95.3%;
    width:48%;
    margin: 19px auto ;
    border: 2px solid #aaa;
}

.footer {
     width:98%;
     margin:10px auto;
     height:100px;
     border:2px solid #aaa;
}
.box-imgs{
    margin: 10px auto;
    width:500px;
    height:500px;
    border:2px solid #eee;
}
.img{
    width: 150px;
    height:150px;    
}

