
#show-time{
    height: 50px;
    background-color: aliceblue;
    line-height: 3;
    padding-left: 20px;
}
button{
    cursor: pointer;
    height:40px;
    margin-top: 20px;

}

.img {
    width: 321px;
    height: 221px;
    cursor: pointer;
}
.btn-close{
    box-shadow: 1px 1px 50px #777, -1px -1px 50px #777;
    text-transform: capitalize;
    font-size: 30px;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    border: 2px solid #efefef;
    width: 100px;
    background-color: #ff3030;
    /* color: #000; */
    text-align: center;
    line-height: 3.4;
    height: 100px;
    position: fixed;
    top: 30px;
    left: 40px;
}
.text-area{
    height:1400px;
    width:450px;
}

.assignment-view{
    width: 100%;
    height:100vh;
    text-align: center;
}
h1{
    text-align: center;
}