<section class="about-me">
 <div class="container">
    <div class="row">
    <div class="side-left col-lg-4 col-md-4 col-sm-12 ">
    <h2>About Me </h2>
    </div>
    <div class="side-right  col-lg-8 col-md-8 col-sm-12 ">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, voluptatum! Cumque quisquam fuga non aut minima magnam quam nesciunt, a aperiam, ipsum qui. Odio est obcaecati id exercitationem, voluptatibus pariatur.</p>
    <button  (click)="downloadCV()" class="btn btn-hire">Download my Resume </button> 
    <!-- <button ">Download CV</button> -->
    </div>
    </div>
 </div>
</section>